.outer{
height: 5rem;
width: 100%;
background-color: rgb(236, 80, 80);
display: flex;
justify-content: space-between;
}
.inner{
height: 3rem;
width: 19rem;
background-color: brown;
border-radius: 30%;
display: flex;
justify-content: space-around;
color: white;
margin: 15px 10px 0 0;
}
.inner h2{
    align-items: center;
    margin-bottom: 5px;
}
.counter{
    height: 30px;
    width: 35px;
    margin-top: 1rem;
    border-radius: 40%;
    background-color: rgb(236, 80, 80);
}
.lower{
    height: 7rem;
    width: 100%;
    background-image: url("./headerImg.jpg");
}